{% if not is_self and current_user %}
{% set is_disabled = relation in ["pending", "following"] %}
<button id="addFollower" class="add-follower" type="button" {% if is_disabled %}disabled{% endif %}
    onclick="requestFollowing()">
    {% if relation == "pending" %}
    pending
    {% elif relation == "following" %}
    following
    {% else %}
    + follow
    {% endif %}
</button>
{% endif %}

{% if is_self %}
<h2>Pending requests:</h2>
<ul class="request-container">
    {% for follower in followers_data.followed_by %}
    {% if not follower['is_accepted']%}
    <li class="request-li">
        <img src="{{follower['follower_picture']}}" />
        <div class="user-info-container">
            <h3>{{follower['follower_name']}}</h3>
            <p>{{follower['follower_email']}}</p>
        </div>

        <div class="button-container">
            <button type="button" value="{{ follower['follower_name'] }}"
                onclick="requestHandler(event, true)">✓</button>
            <button type="button" value="{{ follower['follower_name'] }}"
                onclick="requestHandler(event, false)">x</button>
        </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>

{% endif %}
<h2>Followers: </h2>
<div class="follower-container">
    {% for follower in followers_data.followed_by %}
    {% if follower['is_accepted'] %}
    <div class="follower-entries">
        <img src="{{follower['follower_picture']}}" />
        <div>
            <h3>{{ follower['follower_name'] }}</h3>
            <p>{{follower['created_at'] }}</p>
        </div>
        {% if is_self %}
        <button value="{{ follower['follower_name'] }}" onclick="requestHandler(event, false)">remove</button>
        {% endif %}
    </div>
     <div class="follower-entries">
        <img src="{{follower['follower_picture']}}" />
        <div>
            <h3>{{ follower['follower_name'] }}</h3>
            <p>{{follower['created_at'] }}</p>
        </div>
        {% if is_self %}
        <button value="{{ follower['follower_name'] }}" onclick="requestHandler(event, false)">remove</button>
        {% endif %}
    </div> 
    {% endif %}
    {% endfor %}
</div>
