{% extends 'full_page.html' %}
{% block title %}{{username}}'s Map{% endblock %}

{% block content %}
<!-- Fullscreen map container -->
<div class="map-container">
  <div id="map"></div>
</div>

<!-- Google Maps API -->
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places"></script>
<script>
    // Pass the username to the JavaScript
    const profileUsername = "{{ username }}";
</script>
<script src="{{ url_for('static', filename='js/profile_map.js') }}"></script>
{% endblock %}
