.nav-list .login-item {
  margin-left: auto;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
}

#map {
  height: 100dvh;    /* or 100svh; better on mobile */
  width: 100dvh;       /* avoids scrollbar-width issue of 100vw */
}