/* these are placeholders for colors */
:root {
  --color-primary: #547C8C;
  --color-secondary: #D9A87E;
  --color-accent: #57591D;
  --color-neutral: #22261B;
  --color-success: #2E4022;

  --searchbar-color: #615F5F;
  --searchbar-color-selected: #5080e1;
  --dropdown-color: #F4F1F0;
  --dropdown-color-selected: #ddd;

  --follower-add-btn: #06f;
  --follower-add-btn-hover: #3385ff; 
  --follower-request-aptBtn-hover: #ddd;  
  --follower-request-li-border:gray; 
  --follower-request-scroll-track: #B3B1B1;
  --follower-request-scroll-thumb: #888888;
  --follower-request-scroll-thumb-hover: #646464;
  --follower-request-scroll-thumb-active: #444444;
  --follower-view-btn: white;
  --follower-view-btn-hover: grey;
}

.nav-list .login-item {
  margin-left: auto;
}

/* there is probably a better way to do this */
#map {
  width: 100vw;
  height: calc(100vh - 34.4px);
}