/* these are placeholders for colors */
:root {
  --color-primary: #547C8C;
  --color-secondary: #D9A87E;
  --color-accent: #57591D;
  --color-neutral: #22261B;
  --color-success: #2E4022;
}

.nav-list .login-item {
  margin-left: auto;
}

/* there is probably a better way to do this */
#map {
  width: 100vw;
  height: calc(100vh - 34.4px);
}

.search-input {
      box-sizing: border-box;
      font-size: 16px;
      padding: 10px 15px 10px 20px;
      border-color: rgb(97, 95, 95);
      border-radius: 2.1rem;
      width: 100%;
    }

    .search-input:focus {
      outline: 3px solid #547C8C;
    }

    .dropdown-entries:hover {
      background-color: #ddd;
    }

    .dropdown-entries {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      background-color: #F4F1F0;
    }

    .searchbar-wrapper {
      width: 35vw;
    }

    .searchbar-dropdown {
      background: #f6f6f6;
      margin: 0px 20px 0px 20px;
    }