.user-location-btn {
        font-size: 20;
        background-color: white;
        top: 60px;
        font-family: Arial;
        display: flex;
        position: absolute;
        align-items: center;
        justify-items: center;
        z-index: 50;
        border: none;
        font-size: 20px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
        border-radius: 2rem;
        padding: 5px 20px;
        gap: 2px
    }

    .user-location-btn:hover{
        background-color: #F4F1F0;
    }